[package]
authors     = ["OJ Kwon <kwon.ohjoong@gmail.com>"]
description = "Istanbul compatible coverage instrumentation visitor for SWC"
edition     = "2021"
license     = "MIT"
name        = "swc-coverage-instrument"
repository  = "https://github.com/kwonoj/swc-coverage-instrument"
version     = "0.0.15"

[dependencies]
istanbul-oxide = { version = "0.0.15", path = "../istanbul-oxide" }
once_cell      = "1.16.0"
regex          = "1.7.0"
serde          = { version = "1.0.151", features = ["derive"] }
serde_json     = "1.0.90"

swc_core = { version = "0.75.11", features = [
  "common",
  "ecma_quote",
  "ecma_visit",
  "ecma_utils",
  "ecma_ast",
] }
tracing = "0.1.37"

[dev-dependencies]
pretty_assertions = "1.3.0"
