[package]
authors     = ["OJ Kwon <kwon.ohjoong@gmail.com>"]
description = "Istanbul compatible coverage instrumentation visitor for SWC"
edition     = "2021"
license     = "MIT"
name        = "swc-coverage-instrument"
repository  = "https://github.com/kwonoj/swc-coverage-instrument"
version     = "0.0.24"

[dependencies]
istanbul-oxide = { workspace = true }
once_cell      = { workspace = true }
regex          = "1.8.1"
serde          = { workspace = true, features = ["derive"] }
serde_json     = { workspace = true }

swc_core = { workspace = true, features = [
  "common",
  "ecma_quote",
  "ecma_visit",
  "ecma_utils",
  "ecma_ast",
] }
tracing = "0.1.37"

[dev-dependencies]
pretty_assertions = "1.3.0"
